@font-face {
  font-family: "RockSalt";
  src: url("../fonts/RockSalt-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 10px;
}

h1 {
  font-family: "RockSalt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: black;
}

h2 {
  font-family: "nunito";
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: white;
}

h3 {
  font-family: "nunito";
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 65px;
  text-align: center;
  color: #df8480;
}

p {
  font-family: "nunito";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: black;
}

.btn {
  background: white;
  border: 1px solid white;
  border-radius: 25px;

  margin-bottom: 20px;
  height: 50px;
  width: 350px;

  font-family: "Nunito";
  font-size: 1.6rem;
  text-align: center;
}

/** ---- Header ----- */

header {
  display: flex;
  flex-direction: column;
  background: url("../img/Frame\ 2.png") no-repeat;
  background-size: 100%;

  height: 85vh;
  padding: 4%;
}

header p {
  align-self: flex-end;
  margin-top: 10px;
  font-weight: 900;
  color: #df8480;
  text-align: end;
  width: 40%;
}

/** --- Main Break Section --- */

.breakSec {
  height: 10vh;
  padding-top: 6%;
  background: #df8480;
}

/** --- Main Section 1 --- */

.mainS1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 60vh;
  padding: 2%;
}

.mainS1 article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}

/** --- Main Section 2 --- */

.mainS2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 65vh;
  padding: 0 4%;
}

.mainS2 p {
  font-weight: 400;
}

/** --- footer --- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #242424;

  padding: 4%;
  height: 50vh;
}

footer p {
  color: white;
}

footer article {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

footer article:nth-of-type(1) {
  flex-direction: column;
}

footer article:nth-of-type(2) {
  width: 80%;
}

footer article:nth-of-type(1) button {
  border-color: #df8480;
  background: #df8480;
  color: white;
}

@media only screen and (min-width: 768px) {
  /** --- Header --- */
  header {
    background-position: 0 -100px;
  }

  /** --- Main Section 1 --- */

  .mainS1 {
    height: 40vh;

    padding: 0 10%;
  }

  .mainS1 article {
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
}
